body {
  background-image: url(arches.png);
}

#main {
  width: 800px;
  margin: auto;
}

.column {
  width: 640px;
  margin: 0px;
  float: right;
}

h2 {
  font-family: 'Parisienne', cursive;
  font-size: 60px;
  font-weight: normal;
  margin: 0px 80px;
}

h3 {
  font-family: 'Antic Didone';
}

p, li, blockquote {
  line-height: 22px;
  font-family: 'Balthazar';
  font-size: 18px;
}

#logo {
  color: rgb(137, 80, 175);
  text-shadow: 1px 3px 3px #444;
  margin: auto auto -30px auto;
  font-family: 'Parisienne', cursive;
  font-size: 125px;
  font-weight: normal;
  text-align: center;
}

#nav {
  background-color: rgba(137, 80, 175, .4);
  border: 1px solid rgb(137, 80, 175);
  border-radius: 8px;
  box-shadow: 1px 1px 1px #444;
    -moz-box-shadow: 1px 1px 1px #444;
    -webkit-box-shadow: 1px 1px 1px #444;
  display: inline-block;
  padding: 8px;
  list-style: none;
  margin: 0px;
  float: left;
}

#nav li {
  margin: 10px 8px;
  font-size: 18px;
  padding: 0px;
}

#nav a {
  text-decoration: none;
  color: #333;
}

#nav a:visited {
  color: #333;
}

#nav a:hover {
  color: #eee;
}

#headshot {
  width: 240px;
  border: 1px solid black;
  border-radius: 10px;
  float: right;
  margin-left: 20px;
}

img {
  border: 1px solid black;
  border-radius: 10px;
  margin: 0px 0px 20px 20px;

}

#services li {
  margin: 10px;
}

.dvd {
  float:left; 
  width:140px; 
  margin: auto 10px;
}

.gr_grid_container { 
/* customize grid container div here. eg: width: 500px; */ 
} 
        
.gr_grid_book_container { /* customize book cover container div here */ 
  float: left; 
  width: 68px; 
  height: 120px; 
  padding: 4px;
  overflow: hidden; 
}

.gr_grid_book_container img {
  border-radius: 0px;
  margin: auto;
  border: 1px solid black;
  box-shadow: 1px 1px 1px #444;
    -moz-box-shadow: 1px 1px 1px #444;
    -webkit-box-shadow: 1px 1px 1px #444;
  width: 100%;
}

.gr_grid_book_container img:hover {
  box-shadow: 0px 0px 0px #444;
    -moz-box-shadow: 0px 0px 0px #444;
    -webkit-box-shadow: 0px 0px 0px #444;
}

.thanks {
  width: 300px;
  float: right;
  box-shadow: 1px 2px 2px #444;
    -moz-box-shadow: 1px 2px 2px #444;
    -webkit-box-shadow: 1px 2px 2px #444;
  margin: 10px 0px 20px 20px;
}

hr {
  clear: both;
}

#buttons {
  list-style: none;
}
#buttons a, a:visited {
  color: black;
  text-decoration: none;
}

#buttons li {
  display: inline;
  padding: 4px 8px;
  margin: auto 10px;
  background-color: rgba(137, 80, 175, .4);
  border: 1px solid rgb(137, 80, 175);
  border-radius: 8px;
  box-shadow: 1px 1px 1px #444;
    -moz-box-shadow: 1px 1px 1px #444;
    -webkit-box-shadow: 1px 1px 1px #444;
}