<div id="footer">
  <div class="row">
    <div class="small-12 columns">

      <ul class="orbit" data-orbit>
        <li data-orbit-slide="headline-1">
          <div>
            <p>"We want to let you know that we really appreciate your energy and calmness you brought to our birthing experience," - Arik and Yafah</p>
          </div>
        </li>
        <li data-orbit-slide="headline-2">
          <div>
            <p>"Thank you so much for everything! I would pay you a million dollars if we had it! You helped us achieve everything we wanted of our birth experience (complete with watermelon and Bob Marley)...Thank you again for being so incredibly talented at what you do and for being such a beautiful soul. Your presence will always be intertwined with the most incredible experience of our lives and we will be forever grateful! I will always cherish my (marathon) birth experience," - Kim</p>
          </div>
        </li>
        <li data-orbit-slide="headline-3">
          <div>
            <p>"Thank you for all of your guidance, knowledge, encouragement and empowerment as we brought R. into the world. We were lucky to have your assistance and positive energy during labor and delivery," - Aimee and Sean</p>
          </div>
        </li>
        <li data-orbit-slide="headline-4">
          <div>
            <p>"I am so blessed to have you as a part of S.'s beautiful and natural birth. I am so happy we ventured to the garden. It made the experience so unique and amazing. Although I was in a deep zone during pushing, I will always remember your face always present to keep me hydrated and encourage me. Thank you from the bottom of my heart," - Jenni</p>
          </div>
        </li>
        <li data-orbit-slide="headline-5">
          <div>
            <p>"Wow! I will never be able to thank you enough for your generous support and kind presence throughout the end of my pregnancy and at my birth. Just having your energy in the room helped guide me through," - Bridget</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
