<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/foundation.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link href='http://fonts.googleapis.com/css?family=Parisienne|Josefin+Sans:300,400,700' rel='stylesheet' type='text/css'>


  <link href='http://brightbirthing.com/feed.xml' rel='alternate' type='application/atom+xml'>

  <!-- Open Graph data -->
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="{{ page.type }}" />
  <meta property="og:site_name" content="Bright Birthing" />
  <meta property="og:url" content="http://brightbirthing.com{{ page.url }}" />
  <meta property="og:image" content="http://brightbirthing.com/images/{{ page.image }}" />
  <meta property="og:image:height" content="{{ page.image_height }}" />
  <meta property="og:image:width" content="{{ page.image_width }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <!-- Open Graph data -->
</head>
